<!-- Footer -->
<footer id="footer">
  <!-- <ul class="icons"> -->
  <!--   {% for socloc in site.social %} -->
  <!--   {% if socloc[1] %} -->
  <!--   {% if socloc[0] == 'email' %} -->
  <!--   <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa&#45;envelope&#45;o" -->
  <!--          ><span class="label">E&#45;mail</span></a></li> -->
  <!--   {% else %} -->
  <!--   <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa&#45;{{ socloc[0] }}" -->
  <!--          ><span class="label">{{ socloc[0] }}</span></a></li> -->
  <!--   {% endif %} -->
  <!--   {% endif %} -->
  <!--   {% endfor %} -->
  <!-- </ul> -->
  <section>
    <script type="text/javascript">var submitted=false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='/';}"></iframe>
    <form method="post" action="https://docs.google.com/forms/d/e/1FAIpQLSdj1dm4TxQ9BIR1N7oXohV6pnZ92KmvQGSN8VLraJbMZG7Mgw/formResponse" target="hidden_iframe" onsubmit="submitted=true;">
      <div class="inner">
        <header>
          <h2>Join our mailing list</h2> </header>
        <div class="12u$">
          <ul class="actions">
            <li><input type="email" name="emailAddress" id="emailAddress" value="" size="30" placeholder="Email" /></li>
          </ul>
        </div>
        <div class="12u$">
          <ul class="actions">
            <li><input type="submit" value="Subscribe" class="special" /></li>
          </ul>
        </div>
      </div>
    </form>
  </section>
  <ul class="copyright">
    <li>&copy; {% assign thisyear = site.time | date: "%Y" %}
    {{ thisyear }}
    {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}</li>
  </ul>
</footer>
