<!-- Footer -->
<footer id="footer">
  <!-- <ul class="icons"> -->
  <!--   {% for socloc in site.social %} -->
  <!--   {% if socloc[1] %} -->
  <!--   {% if socloc[0] == 'email' %} -->
  <!--   <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa&#45;envelope&#45;o" -->
  <!--          ><span class="label">E&#45;mail</span></a></li> -->
  <!--   {% else %} -->
  <!--   <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa&#45;{{ socloc[0] }}" -->
  <!--          ><span class="label">{{ socloc[0] }}</span></a></li> -->
  <!--   {% endif %} -->
  <!--   {% endif %} -->
  <!--   {% endfor %} -->
  <!-- </ul> -->

  <section>
    <form method="post" action="https://tinyletter.com/cKeys" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cKeys', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <div class="inner">
        <header>
          <h2>Join our mailing list</h2> </header>
        <div class="12u$">
          <ul class="actions">
            <li><input type="email" name="email" id="tlemail" value="" size="30" placeholder="Email" /></li>
            <input type="hidden" value="1" name="embed"/>
          </ul>
        </div>
        <div class="12u$">
          <ul class="actions">
            <li><input type="submit" value="Subscribe" class="special" /></li>
          </ul>
        </div>
      </div>
    </form>
  </section>

  <ul class="copyright">
    <li>&copy; {% assign thisyear = site.time | date: "%Y" %}
    {{ thisyear }}
    {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}</li>
  </ul>
</footer>
